div .panel {
  margin: 100px;
}
.box {
  border: 3px solid lightslategray;
  border-radius: 0px 10px 10px 10px;
  padding: 15px;
}

p {
  color: lightslategray;
  font-size: medium;
  font-weight: bold;
}
