<form #panelForm="ngForm" (ngSubmit)="panelForm.valid && submit()">
    <h1>Tabs</h1>
    <div class="linha">
        <label class="col-25">Num. Tabs</label>
        <input type="number" class="col-35" name="length"
         #numTabs="ngModel"
         [(ngModel)]="panel.tabs.length" (ngModelChange)="numTabsChange($event)"
         min="1" max="8"/>
        <div *ngIf="numTabs.dirty && numTabs.errors" class="error col-25">
            <div *ngIf="numTabs.errors['min']"> Deve haver pelo menos uma tab </div>
            <div *ngIf="numTabs.errors['max']"> Deve haver no máximo 8 tabs </div>
        </div>
    </div>

    <hr/>

    <div *ngFor="let tab of panel.tabs; index as i; trackBy: trackByFn">
        <p>Tab {{i+1}}</p>
        <div class="linha">
            <label class="col-25">Título</label>
            <input type="text"
                #title="ngModel"
                name="title-{{i}}"
                [(ngModel)]="tab.title"
                required maxlength="12"
            />
            <div *ngIf="title.dirty && title.errors" class="error col-25">
                <div *ngIf="title.errors['required']"> Digite o título </div>
                <div *ngIf="title.errors['maxlength']"> O título deve ter no máximo 12 caracteres </div>
            </div>
        </div>

        <div class="linha">
            <label class="col-25">Conteúdo</label>
            <input type="text"
                #content="ngModel"
                name="content-{{i}}"
                [(ngModel)]="tab.content"
                required maxlength="50"
            />
            <div *ngIf="content.dirty && content.errors" class="error col-25">
                <div *ngIf="content.errors['required']"> Digite o conteúdo </div>
            </div>
        </div>

        <hr *ngIf="i != this.panel.tabs.length - 1"/>
    </div>

    <div class="b-box">
        <input type="submit" value="Salvar" [disabled]="panelForm.invalid" class="button"/>
    </div>
</form>